/* h1 {text-align: center;} */



div.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    
    position: relative;
    top: 50%;
    margin: -10px auto;

}

body { 
    background-color: gray;
    text-align: center;
    margin: 0px;  
}
#input {
    margin-top: 40px;
}
